/*
 *
 * Form Customizer: A UI Plugin for jQuery
 * 
 * Version: 1.1.0
 * Released: Unreleased
 * Author:  Blake Struhs
 * Email: blakejasonstruhs@gmail.com
 * Github:  @blakestruhs
 *
 * Copyright ©2012 Blake Jason Struhs UI/UX Design & Development
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of
 * this software and associated documentation files (the "Software"), to dealin the
 * Software without restriction, including without limitation the rights to use,
 * copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the
 * Software, and to permit persons to whom the Software is furnished to do so,
 * subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 * HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
 * OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
 * SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 */

/* ------------------------------------------------------------------------------- */
form.customize.light .customized input, form.customize.dark .customized input,
form.customize.light .customized textarea, form.customize.dark .customized textarea {font-size: 17px;}
form.customize.light .customized.text input, form.customize.dark .customized.text input,
form.customize.light .customized.password input, form.customize.dark .customized.password input {height: 40px; padding: 0 15px;}
form.customize.light .customized.textarea textarea, form.customize.dark .customized.textarea textarea {padding: 15px;}
form.customize.light .customized.checkbox, form.customize.dark .customized.checkbox,
form.customize.light .customized.radio, form.customize.dark .customized.radio,
form.customize.light .customized.checkbox input, form.customize.dark .customized.checkbox input,
form.customize.light .customized.radio input, form.customize.dark .customized.radio input,
form.customize.light .customized.checkbox .faux-checkbox, form.customize.dark .customized.checkbox .faux-checkbox,
form.customize.light .customized.radio .faux-radio, form.customize.dark .customized.radio .faux-radio {width: 22px; height: 22px;}
form.customize.light .customized.checkbox .faux-checkbox, form.customize.dark .customized.checkbox .faux-checkbox {background: url(images/checkbox.png) no-repeat;}
form.customize.light .customized.radio .faux-radio, form.customize.dark .customized.radio .faux-radio {background: url(images/radio.png) no-repeat;}
form.customize.light .customized.select, form.customize.dark .customized.select,
form.customize.light .customized.select select, form.customize.dark .customized.select select,
form.customize.light .customized.select .faux-select, form.customize.dark .customized.select .faux-select {width: 225px; height: 32px; line-height: 32px;}
form.customize.light .customized.select option, form.customize.dark .customized.select option {padding: 0.3em;}
form.customize.light .customized.select .faux-select .arrow, form.customize.dark .customized.select .faux-select .arrow {width: 40px; height: 32px; background: url(images/arrow.png) no-repeat;}
form.customize.light .customized.file .faux-file, form.customize.dark .customized.file .faux-file {cursor: pointer;}
form.customize.light .customized.file .faux-file.disabled, form.customize.dark .customized.file .faux-file.disabled {cursor: default;}
form.customize.light .customized.file .faux-file .input, form.customize.dark .customized.file .faux-file .input {width: 200px; margin-right: 10px; padding: 0 15px;}
form.customize.light .customized.file .faux-file .button, form.customize.dark .customized.file .faux-file .button {padding: 0 22px;}
form.customize.light .customized.file .faux-file .input, form.customize.dark .customized.file .faux-file .input,
form.customize.light .customized.file .faux-file .button, form.customize.dark .customized.file .faux-file .button {height: 30px; line-height: 30px; font-size: 13px;}
form.customize.light .customized.submit input, form.customize.dark .customized.submit input,
form.customize.light .customized.button input, form.customize.dark .customized.button input,
form.customize.light .customized.reset input, form.customize.dark .customized.reset input {font-size: 1.2em; padding: 8px 22px 5px;}
form.customize.light .customized.label, form.customize.dark .customized.label {color: #777777;}
form.customize.light .customized.label.disabled, form.customize.dark .customized.label.disabled {color: #bdbdbd;}
form.customize.light .customized.label.for-text, form.customize.dark .customized.label.for-text,
form.customize.light .customized.label.for-password, form.customize.dark .customized.label.for-password,
form.customize.light .customized.label.for-textarea, form.customize.dark .customized.label.for-textarea,
form.customize.light .customized.label.for-select, form.customize.dark .customized.label.for-select,
form.customize.light .customized.label.for-file, form.customize.dark .customized.label.for-file {font-size: 1.3em;}
form.customize.light .customized.label.for-checkbox, form.customize.dark .customized.label.for-checkbox,
form.customize.light .customized.label.for-radio, form.customize.dark .customized.label.for-radio {height: 22px; line-height: 22px;}

/* Light Theme 
 * ------------------------------------------------------------------------------- */
form.customize.light ::-webkit-input-placeholder {color: #bdbdbd !important;}
form.customize.light input:-moz-placeholder {color: #bdbdbd !important;}
form.customize.light .customized input,
form.customize.light .customized textarea {color: #767676;}
form.customize.light .customized.text input,
form.customize.light .customized.password input,
form.customize.light .customized.textarea textarea,
form.customize.light .customized.file .faux-file .input {
	background: #ececec;
	background: -moz-linear-gradient(top, #ececec 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #ffffff)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #ececec 0%, #ffffff 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #ececec 0%, #ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ececec 0%, #ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #ececec 0%, #ffffff 100%); /* W3C */
	border: 1px solid #ffffff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	box-shadow: 0px 0px 0px 1px #c3c3c3;
	-moz-box-shadow: 0px 0px 0px 1px #c3c3c3;
	-webkit-box-shadow: 0px 0px 0px 1px #c3c3c3;
	-o-box-shadow: 0px 0px 0px 1px #c3c3c3;
	-ms-box-shadow: 0px 0px 0px 1px #c3c3c3;
}
/*form.customize.light .customized.text input.over,
form.customize.light .customized.password input.over,
form.customize.light .customized.textarea textarea.over,
form.customize.light .customized.file .faux-file.over .input {}*/
/*form.customize.light .customized.text input.down,
form.customize.light .customized.password input.down,
form.customize.light .customized.textarea textarea.down,
form.customize.light .customized.file .faux-file.down .input {}*/
form.customize.light .customized.text input.focus,
form.customize.light .customized.password input.focus,
form.customize.light .customized.textarea textarea.focus {background: #ffffff;}
form.customize.light .customized.text input.disabled,
form.customize.light .customized.password input.disabled,
form.customize.light .customized.textarea textarea.disabled,
form.customize.light .customized.file .faux-file.disabled .input {
	color: #bdbdbd;
	background: #d3d3d3;
	background: -moz-linear-gradient(top, #d3d3d3 0%, #e8e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3d3d3), color-stop(100%, #e8e8e8)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #d3d3d3 0%, #e8e8e8 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #d3d3d3 0%, #e8e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d3d3d3 0%, #e8e8e8 100%); /* IE10+ */
	background: linear-gradient(top, #d3d3d3 0%, #e8e8e8 100%); /* W3C */
	border: 1px solid #e8e8e8;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	box-shadow: 0px 0px 0px 1px #c3c3c3;
	-moz-box-shadow: 0px 0px 0px 1px #c3c3c3;
	-webkit-box-shadow: 0px 0px 0px 1px #c3c3c3;
	-o-box-shadow: 0px 0px 0px 1px #c3c3c3;
	-ms-box-shadow: 0px 0px 0px 1px #c3c3c3;
}
form.customize.light .customized.checkbox .faux-checkbox,
form.customize.light .customized.radio .faux-radio {background-position: 0 0;}
form.customize.light .customized.checkbox .faux-checkbox.focus,
form.customize.light .customized.radio .faux-radio.focus {background-position: 0 -22px;}
form.customize.light .customized.checkbox .faux-checkbox.selected,
form.customize.light .customized.radio .faux-radio.selected {background-position: 0 -44px;}
form.customize.light .customized.checkbox .faux-checkbox.focus.selected,
form.customize.light .customized.radio .faux-radio.focus.selected {background-position: 0 -66px;}
form.customize.light .customized.checkbox .faux-checkbox.over,
form.customize.light .customized.radio .faux-radio.over {background-position: 0 -88px;}
form.customize.light .customized.checkbox .faux-checkbox.over.focus,
form.customize.light .customized.radio .faux-radio.over.focus {background-position: 0 -110px;}
form.customize.light .customized.checkbox .faux-checkbox.over.selected,
form.customize.light .customized.radio .faux-radio.over.selected {background-position: 0 -132px;}
form.customize.light .customized.checkbox .faux-checkbox.over.focus.selected,
form.customize.light .customized.radio .faux-radio.over.focus.selected {background-position: 0 -154px;}
form.customize.light .customized.checkbox .faux-checkbox.down,
form.customize.light .customized.radio .faux-radio.down {background-position: 0 -176px;}
form.customize.light .customized.checkbox .faux-checkbox.down.focus,
form.customize.light .customized.radio .faux-radio.down.focus {background-position: 0 -198px;}
form.customize.light .customized.checkbox .faux-checkbox.down.selected,
form.customize.light .customized.radio .faux-radio.down.selected {background-position: 0 -220px;}
form.customize.light .customized.checkbox .faux-checkbox.down.focus.selected,
form.customize.light .customized.radio .faux-radio.down.focus.selected {background-position: 0 -242px;}
form.customize.light .customized.checkbox .faux-checkbox.disabled,
form.customize.light .customized.radio .faux-radio.disabled {background-position: 0 -264px;}
form.customize.light .customized.checkbox .faux-checkbox.disabled.selected,
form.customize.light .customized.radio .faux-radio.disabled.selected {background-position: 0 -286px;}
form.customize.light .customized.select .faux-select {
	color: #767676;
	font-size: 1.0em;
	text-indent: 1.0em;
	background: #ececec;
	background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ececec)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #ececec 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%, #ececec 100%); /* W3C */
	border: 1px solid #ffffff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	box-shadow: 0px 0px 0px 1px #c3c3c3;
	-moz-box-shadow: 0px 0px 0px 1px #c3c3c3;
	-webkit-box-shadow: 0px 0px 0px 1px #c3c3c3;
	-o-box-shadow: 0px 0px 0px 1px #c3c3c3;
	-ms-box-shadow: 0px 0px 0px 1px #c3c3c3;
}
form.customize.light .customized.select .faux-select .arrow {background-position: 0 0;}
form.customize.light .customized.select .faux-select.over .arrow {background-position: 0 -32px;}
form.customize.light .customized.select .faux-select.disabled .arrow {background-position: 0 -64px;}
form.customize.light .customized.file .faux-file .input,
form.customize.light .customized.file .faux-file .button {color: #767676;}
form.customize.light .customized.submit input,
form.customize.light .customized.button input,
form.customize.light .customized.reset input {color: #767676;}
form.customize.light .customized.submit input,
form.customize.light .customized.button input,
form.customize.light .customized.reset input,
form.customize.light .customized.file .faux-file .button {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ececec)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #ececec 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%, #ececec 100%); /* W3C */
	border: 1px solid #ffffff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	box-shadow: 0px 0px 0px 1px #c3c3c3;
	-moz-box-shadow: 0px 0px 0px 1px #c3c3c3;
	-webkit-box-shadow: 0px 0px 0px 1px #c3c3c3;
	-o-box-shadow: 0px 0px 0px 1px #c3c3c3;
	-ms-box-shadow: 0px 0px 0px 1px #c3c3c3;
}
form.customize.light .customized.submit input.over,
form.customize.light .customized.button input.over,
form.customize.light .customized.reset input.over,
form.customize.light .customized.select .faux-select.over,
form.customize.light .customized.file .faux-file.over .button {color: #5e5e5e;}
form.customize.light .customized.submit input.down,
form.customize.light .customized.button input.down,
form.customize.light .customized.reset input.down,
form.customize.light .customized.file .faux-file.down .button {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f3f3f3)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #f3f3f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #f3f3f3 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%, #f3f3f3 100%); /* W3C */
}
/*form.customize.light .customized.submit input.focus,
form.customize.light .customized.button input.focus,
form.customize.light .customized.reset input.focus,
form.customize.light .customized.select .faux-select.focus,
form.customize.light .customized.file .faux-file.focus .button {}*/
form.customize.light .customized.submit input.disabled,
form.customize.light .customized.button input.disabled,
form.customize.light .customized.reset input.disabled,
form.customize.light .customized.select .faux-select.disabled,
form.customize.light .customized.file .faux-file.disabled .button {
	color: #bdbdbd;
	cursor: default;
	background: #e8e8e8;
	background: -moz-linear-gradient(top, #e8e8e8 0%, #d3d3d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e8e8), color-stop(100%, #d3d3d3)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #e8e8e8 0%, #d3d3d3 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #e8e8e8 0%, #d3d3d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e8e8e8 0%, #d3d3d3 100%); /* IE10+ */
	background: linear-gradient(top, #e8e8e8 0%, #d3d3d3 100%); /* W3C */
	border: 1px solid #e8e8e8;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	box-shadow: 0px 0px 0px 1px #c3c3c3;
	-moz-box-shadow: 0px 0px 0px 1px #c3c3c3;
	-webkit-box-shadow: 0px 0px 0px 1px #c3c3c3;
	-o-box-shadow: 0px 0px 0px 1px #c3c3c3;
	-ms-box-shadow: 0px 0px 0px 1px #c3c3c3;
}

/* Dark Theme
 * ------------------------------------------------------------------------------- */
form.customize.dark ::-webkit-input-placeholder {color: #bebebe !important;}
form.customize.dark input:-moz-placeholder {color: #bebebe !important;}
form.customize.dark .customized input,
form.customize.dark .customized textarea {color: #ffffff;}
form.customize.dark .customized.text input,
form.customize.dark .customized.password input,
form.customize.dark .customized.textarea textarea,
form.customize.dark .customized.file .faux-file .input {
	background: #5e5e5e;
	background: -moz-linear-gradient(top, #5e5e5e 0%, #919191 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e5e5e), color-stop(100%, #919191)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #5e5e5e 0%, #919191 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #5e5e5e 0%, #919191 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5e5e5e 0%, #919191 100%); /* IE10+ */
	background: linear-gradient(top, #5e5e5e 0%, #919191 100%); /* W3C */
	border: 1px solid #919191;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	box-shadow: 0px 0px 0px 1px #555555;
	-moz-box-shadow: 0px 0px 0px 1px #555555;
	-webkit-box-shadow: 0px 0px 0px 1px #555555;
	-o-box-shadow: 0px 0px 0px 1px #555555;
	-ms-box-shadow: 0px 0px 0px 1px #555555;
}
/*form.customize.dark .customized.text input.over,
form.customize.dark .customized.password input.over,
form.customize.dark .customized.textarea textarea.over,
form.customize.dark .customized.file .faux-file.over .input {}*/
/*form.customize.dark .customized.text input.down,
form.customize.dark .customized.password input.down,
form.customize.dark .customized.textarea textarea.down,
form.customize.dark .customized.file .faux-file.down .input {}*/
form.customize.dark .customized.text input.focus,
form.customize.dark .customized.password input.focus,
form.customize.dark .customized.textarea textarea.focus {background: #919191;}
form.customize.dark .customized.text input.disabled,
form.customize.dark .customized.password input.disabled,
form.customize.dark .customized.textarea textarea.disabled,
form.customize.dark .customized.file .faux-file.disabled .input {
	color: #919191;
	background: #aaaaaa;
	background: -moz-linear-gradient(top, #aaaaaa 0%, #d5d5d5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aaaaaa), color-stop(100%, #d5d5d5)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #aaaaaa 0%, #d5d5d5 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #aaaaaa 0%, #d5d5d5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #aaaaaa 0%, #d5d5d5 100%); /* IE10+ */
	background: linear-gradient(top, #aaaaaa 0%, #d5d5d5 100%); /* W3C */
	border: 1px solid #d5d5d5;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	box-shadow: 0px 0px 0px 1px #888888;
	-moz-box-shadow: 0px 0px 0px 1px #888888;
	-webkit-box-shadow: 0px 0px 0px 1px #888888;
	-o-box-shadow: 0px 0px 0px 1px #888888;
	-ms-box-shadow: 0px 0px 0px 1px #888888;
}
form.customize.dark .customized.checkbox .faux-checkbox,
form.customize.dark .customized.radio .faux-radio {background-position: -22px 0;}
form.customize.dark .customized.checkbox .faux-checkbox.focus,
form.customize.dark .customized.radio .faux-radio.focus {background-position: -22px -22px;}
form.customize.dark .customized.checkbox .faux-checkbox.selected,
form.customize.dark .customized.radio .faux-radio.selected {background-position: -22px -44px;}
form.customize.dark .customized.checkbox .faux-checkbox.focus.selected,
form.customize.dark .customized.radio .faux-radio.focus.selected {background-position: -22px -66px;}
form.customize.dark .customized.checkbox .faux-checkbox.over,
form.customize.dark .customized.radio .faux-radio.over {background-position: -22px -88px;}
form.customize.dark .customized.checkbox .faux-checkbox.over.focus,
form.customize.dark .customized.radio .faux-radio.over.focus {background-position: -22px -110px;}
form.customize.dark .customized.checkbox .faux-checkbox.over.selected,
form.customize.dark .customized.radio .faux-radio.over.selected {background-position: -22px -132px;}
form.customize.dark .customized.checkbox .faux-checkbox.over.focus.selected,
form.customize.dark .customized.radio .faux-radio.over.focus.selected {background-position: -22px -154px;}
form.customize.dark .customized.checkbox .faux-checkbox.down,
form.customize.dark .customized.radio .faux-radio.down {background-position: -22px -176px;}
form.customize.dark .customized.checkbox .faux-checkbox.down.focus,
form.customize.dark .customized.radio .faux-radio.down.focus {background-position: -22px -198px;}
form.customize.dark .customized.checkbox .faux-checkbox.down.selected,
form.customize.dark .customized.radio .faux-radio.down.selected {background-position: -22px -220px;}
form.customize.dark .customized.checkbox .faux-checkbox.down.focus.selected,
form.customize.dark .customized.radio .faux-radio.down.focus.selected {background-position: -22px -242px;}
form.customize.dark .customized.checkbox .faux-checkbox.disabled,
form.customize.dark .customized.radio .faux-radio.disabled {background-position: -22px -264px;}
form.customize.dark .customized.checkbox .faux-checkbox.disabled.selected,
form.customize.dark .customized.radio .faux-radio.disabled.selected {background-position: -22px -286px;}
form.customize.dark .customized.select .faux-select {
	color: #ffffff;
	font-size: 1.0em;
	text-indent: 1.0em;
	background: #5e5e5e;
	background: -moz-linear-gradient(top, #919191 0%, #5e5e5e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #919191), color-stop(100%, #5e5e5e)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #919191 0%, #5e5e5e 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #919191 0%, #5e5e5e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #919191 0%, #5e5e5e 100%); /* IE10+ */
	background: linear-gradient(top, #919191 0%, #5e5e5e 100%); /* W3C */
	border: 1px solid #919191;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	box-shadow: 0px 0px 0px 1px #555555;
	-moz-box-shadow: 0px 0px 0px 1px #555555;
	-webkit-box-shadow: 0px 0px 0px 1px #555555;
	-o-box-shadow: 0px 0px 0px 1px #555555;
	-ms-box-shadow: 0px 0px 0px 1px #555555;
}
form.customize.dark .customized.select .faux-select .arrow {background-position: -40px 0;}
form.customize.dark .customized.select .faux-select.over .arrow {background-position: -40px -32px;}
form.customize.dark .customized.select .faux-select.disabled .arrow {background-position: -40px -64px;}
form.customize.dark .customized.file .faux-file .input,
form.customize.dark .customized.file .faux-file .button {color: #ffffff;}
form.customize.dark .customized.submit input,
form.customize.dark .customized.button input,
form.customize.dark .customized.reset input {color: #ffffff;}
form.customize.dark .customized.submit input,
form.customize.dark .customized.button input,
form.customize.dark .customized.reset input,
form.customize.dark .customized.file .faux-file .button {
	background: #919191;
	background: -moz-linear-gradient(top, #919191 0%, #5e5e5e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #919191), color-stop(100%, #5e5e5e)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #919191 0%, #5e5e5e 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #919191 0%, #5e5e5e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #919191 0%, #5e5e5e 100%); /* IE10+ */
	background: linear-gradient(top, #919191 0%, #5e5e5e 100%); /* W3C */
	border: 1px solid #919191;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	box-shadow: 0px 0px 0px 1px #555555;
	-moz-box-shadow: 0px 0px 0px 1px #555555;
	-webkit-box-shadow: 0px 0px 0px 1px #555555;
	-o-box-shadow: 0px 0px 0px 1px #555555;
	-ms-box-shadow: 0px 0px 0px 1px #555555;
}
form.customize.dark .customized.submit input.over,
form.customize.dark .customized.button input.over,
form.customize.dark .customized.reset input.over,
form.customize.dark .customized.select .faux-select.over,
form.customize.dark .customized.file .faux-file.over .button {color: #d4d4d4;}
form.customize.dark .customized.submit input.down,
form.customize.dark .customized.button input.down,
form.customize.dark .customized.reset input.down,
form.customize.dark .customized.file .faux-file.down .button {
	background: #919191;
	background: -moz-linear-gradient(top, #919191 0%, #888888 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #919191), color-stop(100%, #888888)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #919191 0%, #888888 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #919191 0%, #888888 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #919191 0%, #888888 100%); /* IE10+ */
	background: linear-gradient(top, #919191 0%, #888888 100%); /* W3C */
}
/*form.customize.dark .customized.submit input.focus,
form.customize.dark .customized.button input.focus,
form.customize.dark .customized.reset input.focus,
form.customize.dark .customized.select .faux-select.focus,
form.customize.dark .customized.file .faux-file.focus .button {}*/
form.customize.dark .customized.submit input.disabled,
form.customize.dark .customized.button input.disabled,
form.customize.dark .customized.reset input.disabled,
form.customize.dark .customized.select .faux-select.disabled,
form.customize.dark .customized.file .faux-file.disabled .button {
	color: #919191;
	cursor: default;
	background: #d5d5d5;
	background: -moz-linear-gradient(top, #d5d5d5 0%, #aaaaaa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5d5d5), color-stop(100%, #aaaaaa)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #d5d5d5 0%, #aaaaaa 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #d5d5d5 0%, #aaaaaa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d5d5d5 0%, #aaaaaa 100%); /* IE10+ */
	background: linear-gradient(top, #d5d5d5 0%, #aaaaaa 100%); /* W3C */
	border: 1px solid #d5d5d5;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	box-shadow: 0px 0px 0px 1px #888888;
	-moz-box-shadow: 0px 0px 0px 1px #888888;
	-webkit-box-shadow: 0px 0px 0px 1px #888888;
	-o-box-shadow: 0px 0px 0px 1px #888888;
	-ms-box-shadow: 0px 0px 0px 1px #888888;
}